@import "navStyle.css";

* {
	font-family: Arial, Verdana, sans-serif;
	color: white;
	}
h1{
   font-family: 'AmaranthRegular';
   font-weight: bold;
   font-style: normal;
   font-size: 86px;
   text-align: center;
}
body {
  background-image:url("/Midterm/images/background.jpg");		  
}
#content {
	overflow: auto;}

#feature {
	height: auto;
    border-radius: 10px;
	margin-bottom: 1em;
    background-color: rgba(177, 179, 181);
    font-size: 23px;
}
 img{
  width: 100px;
  height: auto;
}
#validate img{
  width: 480px;
  height: auto;
}
.simple {
  font-size: 30px;
  height: auto;
  
}
input, textarea{
  color: black;
  padding: .1em;
  border-radius: 4px;
  margin-top: 1px;
}
