#title {
  font-family: 'JelleeBold';
  font-weight: normal;
  font-style: normal;
  font-size: 38px;
  text-align:center; 
  position:fixed;
  top:0px;
  left:0px; 
  padding:10px;
  
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 10%;
  width:100%;
  background-color:lightgreen;
  z-index:10;
}

#container{
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  
}

.row{
  position:relative;
  margin-left:10%;
  margin-right:10%;
}
.white{
  border: 1px solid black;
  width: 10%;
  height: 60px;
  background-color: white;
  float: left;
}
.black{
  border: 1px solid black;
  width: 10%;
  height: 60px;
  background-color: #787878;
  float: left;
}
.clear{
  clear:both;
  img{
    margin-left:5px;
    margin-top:10px;
  }
}
#footer{
  border: solid 1px;
  padding: 10px;
  margin: 15px;
  background-color: lightgreen;
  text-align: center;
}
